<h1>Paštomatai</h1>

 <table>
  <thead>
    <tr>
      <th>Zip code</th>
      <th>Name</th>
      <th>Adress</th>
    </tr>
  </thead>

  <% @machines.each do |item| %>
    <tr>
    <td class='text-center'><%= link_to item.ZIP,
    machine_path(item, :filter => params[:filter], :query => params[:query]) %></td>

    <td><%= link_to item.NAME, 
    machine_path(item, :filter => params[:filter], :query => params[:query]), class: 'text-indent' %></td>
    
    <td><%= link_to item.FULL_ADDRESS, 
    machine_path(item, :filter => params[:filter], :query => params[:query]), class: 'text-indent' %></td>
    </tr>
  <% end %>
</table>
