%h1 Paštomatai
%table
  %thead
    %tr
      %th Zip code
      %th Name
      %th Adress
  - @machines.each do |item|
    %tr
      %td.text-center
        = link_to item.zip, machine_path(item, q: {zip_eq: params.dig(:q, :zip_eq), 
          name_cont: params.dig(:q, :name_cont), 
          full_address_cont: params.dig(:q, :full_address_cont)})
      %td
        = link_to item.name, machine_path(item, q: {zip_eq: params.dig(:q, :zip_eq), 
          name_cont: params.dig(:q, :name_cont), 
          full_address_cont: params.dig(:q, :full_address_cont)}), class: 'text-indent'
      %td
        = link_to item.full_address, machine_path(item, q: {zip_eq: params.dig(:q, :zip_eq), 
          name_cont: params.dig(:q, :name_cont), 
          full_address_cont: params.dig(:q, :full_address_cont)}), class: 'text-indent'
