<h1><%= @machine.NAME %></h1>
<%= link_to "BACK", machines_path(:filter => params[:filter], :query => params[:query])%>

<table class='info-table'>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

<% @machine.attributes.each do |attr_name, attr_value| %>
  <%if attr_name != "FULL_ADDRESS"%>

    <tr>
    <td class='text-indent'><%= attr_name %></td>
    <td class='text-indent'><%= attr_value %></td>
    </tr>

  <% end %>
<% end %>
</table>