<h1><%= @machine.NAME %></h1>

<table id='info-table'>

<thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
</thead>

<% @machine.attributes.each do |attr_name, attr_value| %>
  <%if attr_name != "FULL_ADDRESS"%>

    <tr>
    <td class='text-indent'><%= attr_name %></td>
    <td class='text-indent'><%= attr_value %></td>
    </tr>

  <% end %>
<% end %>
</table>